<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/dddaebbd-8178-4498-b1df-b5a2414d0d72/resourceGroups/rg-eventtimings-dev/providers/Microsoft.Web/sites/azappb4o6ukmm7m7zi</ResourceId>
    <ResourceGroup>rg-eventtimings-dev</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://azappb4o6ukmm7m7zi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9be7e769-c503-dbcc-f6a8-e7402949bfc1</ProjectGuid>
    <PublishUrl>https://azappb4o6ukmm7m7zi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$azappb4o6ukmm7m7zi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>