@inherits LayoutComponentBase
@using EventTimings.App.Shared

<div class="page">
    <LoginModal />
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4 timing-shell">
            @Body
        </article>
    </main>
</div>
