<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Event Timings</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Timing board
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="riders" Match="NavLinkMatch.Prefix">
                <span class="bi bi-people-fill" aria-hidden="true"></span> Riders
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="route-types" Match="NavLinkMatch.Prefix">
                <span class="bi bi-signpost-split-fill" aria-hidden="true"></span> Route types
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="officials" Match="NavLinkMatch.Prefix">
                <span class="bi bi-person-badge-fill" aria-hidden="true"></span> Officials
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="results" Match="NavLinkMatch.Prefix">
                <span class="bi bi-clipboard-data-fill" aria-hidden="true"></span> Results
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
